# Ignorar todos los archivos
*

# No ignorar el propio archivo .gitignore
!.gitignore

# No ignorar el README.md
!README.md

# No ignorar el main
!FINAL.*

# No ignorar Camera.h y Camera.cpp
!Camera.*

# No ignorar DirectionalLight.h y DirectionalLight.cpp
!DirectionalLight.*

# No ignorar la carpeta de texturas ni su contenido
!Textures/
!Textures/**

# No ignorar la carpeta de modelos ni su contenido
!Models/
!Models/**